<!DOCTYPE html>
<html lang="zh-Hans">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta content="IE=edge, chrome=1" http-equiv="X-UA-Compatible">
        <meta content="webkit" name="renderer">
        <title><%= title %> - Shipping</title>
        <meta name="description" content="Express Nodejs">
        <meta name="keywords" content="express,node.js,javascript,ejs">
    </head>
    <body>
       <h2> <%= bodyContent %></h2>
    </body>
    </html>
    